$white: #ffffff;
$black: #000000;

$orange-100: #FF842B;
$orange-200: #FF6B00;
$orange-300: #ED6300;

$green-100: #E1FFD7;
$green-200: #C2E3B7;
$green-300: #8CB97C;
$green-400: #48D618;
$green-500: #41B619;
$green-600: #38A413;

$red-800: #E20338;
$red-900: #C20532;

$silver-100: #F7F4F4;
$silver-200: #EAEAEA;
$silver-300: #D7D7D7;

$purple-100: #F2EEF5;
$purple-200: #F6EBFF;
$purple-300: #EBDCF7;
$purple-400: #B3ABBC;
$purple-800: #685879;
