<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>V!U!E! Pizza - страницы</title>
</head>
<body>
  <ul>
    <li><a href="welcome.html">Страница приветствия</a></li>
    <li><a href="main.html">Главная</a></li>
    <li><a href="cart.html">Корзина</a></li>
    <li><a href="orders.html">История заказов</a></li>
    <li><a href="popup.html">Попап "Спасибо за заказ"</a></li>
    <li><a href="sign-in.html">Авторизация</a></li>
    <li><a href="user-data.html">Мои данные</a></li>
  </ul>
</body>
</html>
