<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preload" href="fonts/roboto-bold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="fonts/roboto-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="fonts/roboto-light.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="fonts/roboto-bold.woff" as="font" type="font/woff" crossorigin="anonymous">
  <link rel="preload" href="fonts/roboto-regular.woff" as="font" type="font/woff" crossorigin="anonymous">
  <link rel="preload" href="fonts/roboto-light.woff" as="font" type="font/woff" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.min.css">
  <title>V!U!E! Pizza - Попап</title>
</head>
<body>
  <div class="popup">
    <a href="#" class="close">
      <span class="visually-hidden">Закрыть попап</span>
    </a>
    <div class="popup__title">
      <h2 class="title">Спасибо за заказ</h2>
    </div>
    <p>Мы начали готовить Ваш заказ, скоро привезём его вам ;)</p>
    <div class="popup__button">
      <a href="#" class="button">Отлично, я жду!</a>
    </div>
  </div>
</body>
</html>
