<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preload" href="fonts/roboto-bold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="fonts/roboto-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="fonts/roboto-light.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="fonts/roboto-bold.woff" as="font" type="font/woff" crossorigin="anonymous">
  <link rel="preload" href="fonts/roboto-regular.woff" as="font" type="font/woff" crossorigin="anonymous">
  <link rel="preload" href="fonts/roboto-light.woff" as="font" type="font/woff" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.min.css">
  <title>V!U!E! Pizza - Мои данные</title>
</head>
<body>
  <header class="header">
    <div class="header__logo">
      <a href="index.html" class="logo">
        <img src="img/logo.svg" alt="V!U!E! Pizza logo" width="90" height="40">
      </a>
    </div>
    <div class="header__cart">
      <a href="cart.html">0 ₽</a>
    </div>
    <div class="header__user">
      <a href="user-data.html">
        <picture>
          <source type="image/webp" srcset="img/users/user5.webp 1x, img/users/user5@2x.webp 2x">
          <img src="img/users/user5.jpg" srcset="img/users/user5@2x.jpg" alt="Василий Ложкин" width="32" height="32">
        </picture>
        <span>Василий Ложкин</span>
      </a>
      <a href="#" class="header__logout"><span>Выйти</span></a>
    </div>
  </header>

  <main class="layout">
    <div class="layout__sidebar sidebar">
      <a href="index.html" class="logo layout__logo">
        <img src="img/logo.svg" alt="V!U!E! Pizza logo" width="90" height="40">
      </a>

      <a class="layout__link" href="#">История заказов</a>
      <a class="layout__link layout__link--active" href="#">Мои данные</a>
    </div>

    <div class="layout__content">
      <div class="layout__title">
        <h1 class="title title--big">Мои данные</h1>
      </div>

      <div class="user">
        <picture>
          <source type="image/webp" srcset="img/users/user5@2x.webp 1x, img/users/user5@4x.webp 2x">
          <img src="img/users/user5@2x.jpg" srcset="img/users/user5@4x.jpg" alt="Василий Ложкин" width="72" height="72">
        </picture>
        <div class="user__name">
          <span>Василий Ложкин</span>
        </div>
        <p class="user__phone">Контактный телефон: <span>+7 999-999-99-99</span></p>
      </div>

      <div class="layout__address">
        <div class="sheet address-form">
          <div class="address-form__header">
            <b>Адрес №1. Тест</b>
            <div class="address-form__edit">
              <button type="button" class="icon"><span class="visually-hidden">Изменить адрес</span></button>
            </div>
          </div>
          <p>Невский пр., д. 22, кв. 46</p>
          <small>Позвоните, пожалуйста, от проходной</small>
        </div>
      </div>

      <div class="layout__address">
        <form action="test.html" method="post" class="address-form address-form--opened sheet">
          <div class="address-form__header">
            <b>Адрес №1</b>
          </div>

          <div class="address-form__wrapper">
            <div class="address-form__input">
              <label class="input">
                <span>Название адреса*</span>
                <input type="text" name="addr-name" placeholder="Введите название адреса" required>
              </label>
            </div>
            <div class="address-form__input address-form__input--size--normal">
              <label class="input">
                <span>Улица*</span>
                <input type="text" name="addr-street" placeholder="Введите название улицы" required>
              </label>
            </div>
            <div class="address-form__input address-form__input--size--small">
              <label class="input">
                <span>Дом*</span>
                <input type="text" name="addr-house" placeholder="Введите номер дома" required>
              </label>
            </div>
            <div class="address-form__input address-form__input--size--small">
              <label class="input">
                <span>Квартира</span>
                <input type="text" name="addr-apartment" placeholder="Введите № квартиры">
              </label>
            </div>
            <div class="address-form__input">
              <label class="input">
                <span>Комментарий</span>
                <input type="text" name="addr-comment" placeholder="Введите комментарий">
              </label>
            </div>
          </div>

          <div class="address-form__buttons">
            <button type="button" class="button button--transparent">Удалить</button>
            <button type="submit" class="button">Сохранить</button>
          </div>
        </form>
      </div>

      <div class="layout__button">
        <button type="button" class="button button--border">Добавить новый адрес</button>
      </div>
    </div>
  </main>
</body>
</html>
