<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preload" href="fonts/roboto-bold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="fonts/roboto-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="fonts/roboto-light.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="fonts/roboto-bold.woff" as="font" type="font/woff" crossorigin="anonymous">
  <link rel="preload" href="fonts/roboto-regular.woff" as="font" type="font/woff" crossorigin="anonymous">
  <link rel="preload" href="fonts/roboto-light.woff" as="font" type="font/woff" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.min.css">
  <title>V!U!E! Pizza - страница приветствия</title>
</head>
<body class="main">
  <div class="main__wrapper">
    <div class="main__header">
      <img src="img/logo.svg" width="300" height="47" alt="V!U!E! Pizza" />
    </div>
    <h1>Добро пожаловать!</h1>
    <p>
      Это проект V!U!E! Pizza для обучения на профессиональном онлайн‑курсе<br />
      <b>«Vue.js для опытных разработчиков».</b>
    </p>
  </div>
</body>
</html>
