$shadow-light: 0 4px 8px rgba($black, 0.04), 0 0 2px rgba($black, 0.06), 0 0 1px rgba($black, 0.04);
$shadow-regular: 0 0 0 2px rgba($green-500, 0.6);
$shadow-medium: 0 16px 24px rgba($black, 0.06), 0 2px 6px rgba($black, 0.04), 0 0 1px rgba($black, 0.04);
$shadow-big: 0 0 2px 2px rgba($black, 0.5);
$shadow-large: 0 0 0 2px $green-500;
